body {
    padding: 0;
    margin: 0;
    background-image: url(../img/art4.jpg);
    font-family: 'Source Code Pro', monospace;
    background-size: cover;
    background-position: fixed;  
    font-size: 15px;
}

.btn-index {
    color: white;
    background-color:  #bf7788;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: consolas, monospace;
}

.container { 
    width: 80%;
    margin: auto;
    
}

.titulo {
    margin: 0;
    padding: 0;
    color: black;
}

/* CABEÇALHO - HEADER*/
.header {
    background-color: black;
    padding-top: 5px;
    height: 50px;
    /*background-color: rebeccapurple;*/
}

.header .container {
    height: 80px;
}

/*configuração do estilo de fundoe tamanho do menu*/
.header nav {
    background-color: black;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}
 /*configuração do estilo da letra do menu*/
.header ul {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 17px;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;  
    color: white;
}

.header a {
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, color 1s;
}

/*efeitos para a:active-> quando ativamos o elemento*/
  /*efeitos para a:hover-> quando passamos o mouse em cima*/
.header a:active,
.header a:hover {
    font-weight: bold;
    background-color: rgba(199, 3, 199, 0.918);
    color: white;
}

/*tira o sublinhado do menu e de qualquer link*/
  a {
    color: white;
    text-decoration: none;
  }

/* TITULO - INDEX*/
.banner {
    height: 600px;
    width: 100%;
}

.banner .container {
    height: 400px;
}

.banner .texto {
    color: black;
    font-size: 25px;
    text-align: center;
    padding-top: 200px;
}

.banner .titulo {
    font-size: 3.5em;
    font-family: 'Jura', sans-serif;
}

/* ICONES - OS TRES CAMPOS PARA ESCREVER NO INDEX*/
.box {
    overflow: auto;
    background-color: #F8FCFFbe ;
}

.box .box-item {
    float: left;
    width: 33%;
    text-align: center;
    margin: 50px 0;
}

.box .box-item img {
    height: 100px;
}

/* FOOTER FINAL DO INDEX- PARTE */
.footer {
    background-color: black;
    text-align: left;
    height: 85px;
}

.footer h4 {
    color: white;
    font-weight: 100;
    margin: 0;
    padding-top: 40px;
}

.footer .form_novidade{
    float: right;
    margin-top: -20px;
    margin-right: 30px;
    color:white;   
}